<h1>Demo#hello</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<h2>Hello world</h2>

<% 1+1 %>
<%= 1+1 %>
<br>
<br>
<% target = "world" %>
<%= "Hello #{target}" %>


<br>
<br>
<br>
<% @array.each do |n| %>
  <%= n %> <br>
<% end %>